.header {
    height: 130px;
    padding-left: var(--mantine-spacing-md);
    padding-right: var(--mantine-spacing-md);
    border-bottom: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.search {
    margin-top: -30px;
    padding-bottom: 10px;
}

.basicButton {
    margin-top: 10px;
}